extends ./_bootstrap
append head
	title M51-CLAV

append styles
	meta(name="author",content="Tomás Ferreira")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
	link(rel="stylesheet" type="text/css" href="/styles/styles.css")
	link(href='/styles/dashboard.css', rel='stylesheet')
	link(href='/styles/theme.css', rel='stylesheet')
	link(rel="icon" href="https://cdn1.iconfinder.com/data/icons/dotted-charts/512/links_diagram-128.png")
	

block body
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-brand M51-CLAV
			#navbar.navbar-collapse.collapse
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				ul.nav.nav-sidebar
					li
						a(href='/') Inicio
					li
						a(href='/organizacoes') Catálogo Organizacional
					li
						a(href='/legislacoes') Catálogo Legislativo
					li
						a(href='/classes') Classes
					li
						a(href='/tabelasSelecao') Tabelas de Seleção
					li#selTabs
						div(v-if="ready")
							v-select.custom-select(
								v-model="link"
								:options="selTabs"
							)
					

				

			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				block corpo

append scripts
	//-sricpt(src="/Base/vue.min.js")
	script(src="/Base/vue.js")
	script(src="/Base/vue-resource.js")
	script(src="/Base/vue-select.js")
	
	script(src="https://unpkg.com/axios@0.12.0/dist/axios.min.js")
	script(src="https://unpkg.com/lodash@4.13.1/lodash.min.js")
	
	script(src="/Scripts/Common/components.vue")
	script(src="/Scripts/Common/layout.vue")