extends ../layout4
block corpo
    #pedidos-gestao.panel.panel-default.panel-custom
        top-menu-bar
        .panel-heading
            h1.page-header.p-2.mt-5 Gestão de Pedidos  
        .panel-body
            .mt-3.mb-3
                tabela-pedidos-por-tipo(v-if="pedidosCarregados" titulo="Todos" :pedidos="pedidos")

                tabela-pedidos-por-tipo(v-if="pedidosNovosCarregados" titulo="Pedidos Novos" :pedidos="pedidosNovos")

                tabela-pedidos-por-tipo(v-if="pedidosEmApreciacaoCarregados" titulo="Pedidos em Apreciação Técnica" :pedidos="pedidosEmApreciacao")

                tabela-pedidos-por-tipo(v-if="pedidosEmValidacaoCarregados" titulo="Pedidos em Validação Técnica" :pedidos="pedidosEmValidacao")

                tabela-pedidos-por-tipo(titulo="Pedidos Autorizados" :pedidos="[]")

    if user.level>=6
        .titlebox
            | Gestão de Utilizadores

        #novouser
            hidden-table-v2(
                titulo="Registo de um novo utilizador"
                :linhas="linhas"
            )
        
        #editaruser
            hidden-table-v2(
                titulo="Editar informação de um utilizador"
                :linhas="linhas"
            )

    if user.level>=6
        .titlebox
            | Gestão de chaves API

        #nova_chave
            hidden-table-v2(
                titulo="Registo de nova chave API"
                :linhas="linhas"
            )

        #listagem_chaves
            hidden-table-v2(
                titulo="Listagem de chaves API"
                :linhas="linhas"
            )

append scripts    
    script(src="/javascripts/v-components/top-menu-bar.vue")
    script(src="/javascripts/admin/gestao_pedidos.vue")
    script(src="/javascripts/v-components/pedidos/pedidos-tabela-tipo.vue")
