extends ../layout4
block corpo
    #pedido-form.panel.panel-default.panel-custom
        top-menu-bar
        .panel-heading
            h1.page-header.p-2.mt-5 Consulta do pedido {{ pedido.codigo }}
        .panel-body
            .mt-3.mb-3
                panel.p-3(is-open v-if="pedidoReady")
                    table.table.p-3
                        //- Codigo
                        tr
                            td
                                .info-label Número do pedido: 
                            td
                                | {{ pedido.codigo }}
                    
                        //- Estado atual
                        tr(v-if="pedido.estado")
                            td
                                .info-label Estado atual do pedido: 
                            td {{ pedido.estado }}

                        //- Tipo do pedido
                        tr
                            td
                                .info-label Tipo: 
                            td {{ pedido.objeto.acao + " de " +pedido.objeto.tipo }}  

                        //- Data da submissão inicial
                        tr(v-if="pedido.data")
                            td
                                .info-label Data de submissão: 
                            td {{ pedido.data }}

                        //- Link
                        tr
                            td
                                .info-label Link para o objeto: 
                            td
                                a(:href="'/pedidos/' + pedido.codigo + '/objeto'") {{ pedido.objeto.tipo }}
                        //- Distribuição
                        tr(v-if="pedido.distribuicao.length > 0") 
                            td
                                .info-label Distribuição:
                            td
                                table.table
                                    thead
                                        tr  
                                            th Data
                                            th Estado
                                            th Responsável
                                            th Despacho
                                    tbody
                                        tr(v-for="d in pedido.distribuicao")
                                            td {{ d.data }}
                                            td {{ d.estado }}
                                            td {{ d.responsavel }}
                                            td {{ d.despacho }}
                        tr
                            td
                                a.btn.btn-xs.btn-primary(href="/pedidos") Voltar 

append scripts
    script(src="/javascripts/v-components/top-menu-bar.vue")
    script(src="/javascripts/pedidos/consulta.vue")