extends ../layout
block corpo
    #pedido-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header
                div Consulta de pedido

append scripts
    script(src="/javascripts/pedidos/consulta.vue")