extends ../layout
block corpo
    h1.page-header Pedidos
    .row
        #tabela-pedidos.row.placeholders
            tabela-generica(
                v-if="tabelaReady"

                :header='["Codigo","Criado Por","Data de submissão","Estado","Ação","Objecto"]'
                :display-order="['codigo','criadoPor','data','estado','acao','objeto']"
                :complete-rows="listaPedidos"
                :ready="tabelaReady"
                :cwidth="['15%','35%','15%','15%','10%', '10%']"

                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
            )
            h4(
                v-else
            ) A carregar... 

append scripts
    script(src="javascripts/pedidos/pedidos.vue")
    script(src="javascripts/component-tabela-generica.vue")