extends ../layout
block corpo
    #pedidos-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header
                div Pedidos

append scripts
    script(src="javascripts/pedidos/pedidos.vue")