extends ../layout
block corpo 
    .titlebox   
        | Indique o tipo de Tabela de Seleção

    table.table
            tr
                td.botao
                    |  Tabela Organizacional
                td  
                    button.next >
            tr
                td.botao
                    |  Tabela Pluriorganizacional
                td  
                    button.next >