extends ../layout
block corpo 

    table(style="width:70%")
        td(valign="middle" align="center")
            .titlebox   
                | Indique o tipo de Tabela de Seleção

        td(valign="middle" align="center")
            table
                tr
                    td.botao
                        |  Tabela Organizacional
                    td  
                        button.next(onclick='window.location.href="/tabelasSelecao/passos"') >
                tr
                    td.botao
                        |  Tabela Pluriorganizacional
                    td  
                        button.next >