extends ../layout
block corpo 

    table(style="width:70%")
        td(valign="middle" align="center")
            .titlebox   
                | Indique o tipo de Tabela de Seleção

        td(valign="middle" align="center")
            table
                tr(style="padding:8px")
                    td(style="padding:8px").greybox
                        |  Tabela Organizacional
                    td  
                        button.next(onclick='window.location.href="/tabelasSelecao/passos"') >
                tr(style="padding:8px")
                    td(style="padding:8px").greybox
                        |  Tabela Pluriorganizacional
                    td  
                        button.next >