doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(name="description",content="")
			block styles
				link(rel="stylesheet",href="/stylesheets/bootstrap4/css/bootstrap.min.css")
	body(data-spy="scroll",data-target=".scrollspy" style="padding-bottom:0px")
		block body

		.footer
			block footer	
		block scripts
			script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
			script(src="/stylesheets/bootstrap4/js/bootstrap.min.js")
