extends ./_bootstrap4
append head
	title CLAV 
	
append styles
	meta(name="author",content="jcr")
	link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
	link(href="/stylesheets/styles.css" rel="stylesheet" type="text/css")
	link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
	link(rel="icon" href="https://cdn1.iconfinder.com/data/icons/dotted-charts/512/links_diagram-128.png")
	
block body
	.container-fluid
		block corpo

block footer
	.container-fluid
		.row.p-1
			.col-sm-4
				a(href="http://dglab.gov.pt/" target="_blank") DGLAB - Direção-Geral do Livro, dos Arquivos e das Bibliotecas
			.col-sm-4
				a(href="mailto:clav@dglab.gov.pt" data-toggle="tooltip" data-placement="top" title="clav@dglab.gov.pt") Contactos
			.col-sm-4
				.media
					img.img-responsive(src="/images/feder.png" alt="logo do FEDER")


append scripts
	script(src="/javascripts/base/vue.min.js")
	script(src="/javascripts/base/vue-resource.js")
	script(src="/javascripts/base/vue-select.js")
	script(src="/javascripts/base/vue-strap.js")
	
	script(src="/javascripts/base/axios.min.js")
	script(src="/javascripts/base/lodash.min.js")
	
	script(src="/javascripts/components.vue")
	script(src="/javascripts/component-tree.vue")
	script(src="/javascripts/layout.vue")
	

	|<script>
	|	$(document).ready($(function () {
	|		$('[data-toggle="tooltip"]').tooltip()
	|	}))
	|</script>
