extends layout
block corpo
    .col-lg-6
        #acordeao
            accordion(type="info")
                panel( header="O que é a CLAV")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        table#navegacao.table.tabela-navegacao
            tr 
                td
                    .labelbox(style="width:20%")
                        | Consulte:
            tr(v-for="linha in linhas")
                td(style="padding-left:50px !important")
                    a(:href="linha.consultar")
                        .titlebox(style="margin-bottom:0px")
                            | {{linha.valor}}
            tr 
                td(style="padding-top:15px !important")
                    .labelbox
                        | Documentação Técnica de Apoio
    .col-lg-1
    .col-lg-5
        table.nav-canto(style="float:right; margin-bottom:40px")
            tr
                td(rowspan="2")
                    .greybox(style="border:none !important; font-weight:bolder")
                        | Entidades
                
                td
                    a(href="/organizacoes/registo_entidade")
                        .botao
                            | Identificação de Representantes
            tr 
                td 
                    a(href="#")
                        .botao
                            | Área de Trabalho
        
        table#noticias.table.tabela-navegacao
            tr 
                td
                    .labelbox(style="with:100%")
                        | Notícias:
            tr(v-for="noticia in noticias")
                td 
                    .noticiabox(style="border:none; margin:2px")
                        | {{noticia}}
            
            

append scripts
    script(src="/javascripts/index.vue")