extends layout
block corpo
    h3 CLAV: Plataforma para a Classificação e a Avaliação da Informação Pública
    h1 
    .col-lg-6
        #acordeao
            accordion(type="info")
                panel( header="O que é a CLAV")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        table#navegacao.table.tabela-navegacao
            tr(v-for="linha in linhas")
                td(width="90%")
                    .titlebox(style="margin-bottom:0px") {{linha.valor}}
                td  
                    a(:href="linha.consultar")
                        .botao
                            | Consultar
                td
                    a(:href="linha.submeter")
                        .botao
                            | Submeter
    .col-md-1
    .col-lg-3
        a(href="/organizacoes/registo_entidade")
            .botao
                | ENTIDADES – identificação de representantes 
        h1
        a(href="#")
            .botao
                | Retomar Trabalho
append scripts
    script(src="/javascripts/index.vue")