extends layout
block corpo
    .col-lg-12
        #acordeao
            accordion(type="info-custom")
                panel( header="O que é a CLAV")
                    p Plataforma que visa: 
                    ol(type="a")
                        li Disponibilizar a “Lista Consolidada para a classificação e avaliação da informação pública” enquanto instrumento facilitador da elaboração dos planos de classificação e tabelas de seleção da Administração Pública e de outras entidades abrangidas pelo Decreto-Lei X;
                        li Possibilitar a submissão de propostas ou atualizações de planos de classificação e tabelas de seleção; 
                        li Desmaterializar os procedimentos de controlo da eliminação da informação pública através da recolha e análise de autos de eliminação;
                        li Disponibilizar ferramentas para a elaboração e submissão de planos de preservação digital e Planos de subsituição de suporte.
                    p A Plataforma CLAV corresponde à Medida 107 do Simplex + e teve apoio do SAMA. 

    
    .col-lg-6
        table#navegacao.table.tabela-navegacao
            tr 
                td
                    .labelbox(style="width:20%")
                        | Consulte:
            
            tr
                td(style="padding-left:50px !important")
                    accordion(type="linkbox")
                        panel(v-for="(linha,index) in linhas" :header="linha.valor" :key="index")
                            div(v-if="linha.text" v-html="linha.text")
                            
                            if user
                                a(:href="linha.consultar")
                                    button(v-if="!linha.newCons") Consultar
                                    button(v-else) {{linha.newCons}}
                                a(:href="linha.submeter" style="margin-left:9px")
                                    button(v-if="!linha.newSub") Submeter
                                    button(v-else) {{linha.newSub}}
                            else
                                a(:href="linha.consultar")
                                    button Consultar
            tr 
                td(style="padding-top:15px !important")
                    .labelbox
                        | Documentação Técnica de Apoio
    .col-lg-1
    .col-lg-5
        table.table.tabela-navegacao
            tr
                td(colspan="2")
                    .labelbox
                        | Entidades:
            tr
                td(style="padding-left:50px !important")
                    a(href="/organizacoes/registo_entidade")
                        .linkbox(style="margin-bottom:0px")
                            | Identificação de Representantes
            tr
                td(style="padding-left:50px !important")
                    a(href="#")
                        .linkbox(style="margin-bottom:0px")
                            | Área de Trabalho
        
        table#noticias.table.tabela-navegacao
            tr 
                td
                    .labelbox(style="with:100%")
                        | Notícias:
            tr
                td
                    accordion(type="noticiabox")
                        panel(v-for="(not,index) in noticias" :header="not.title" :key="index")
                            small {{ not.date }}
                            div(v-html="not.body")
                            
            

append scripts
    script(src="/javascripts/index.vue")