extends layout
block corpo
    .col-lg-12
        #acordeao
            accordion(type="info-custom")
                panel( header="O que é a CLAV")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    
    .col-lg-6
        table#navegacao.table.tabela-navegacao
            tr 
                td
                    .labelbox(style="width:20%")
                        | Consulte:
            
            if !user
                tr(v-for="linha in linhas")
                    td(style="padding-left:50px !important")
                        a(:href="linha.consultar")
                            .linkbox(style="margin-bottom:0px")
                                | {{linha.valor}}
            else
                tr
                    td(style="padding-left:50px !important")
                        accordion(type="linkbox")
                            panel(v-for="(linha,index) in linhas" :header="linha.valor" :key="index")
                                a(:href="linha.consultar")
                                    button Consultar
                                a(:href="linha.submeter")
                                    button Submeter
            tr 
                td(style="padding-top:15px !important")
                    .labelbox
                        | Documentação Técnica de Apoio
    .col-lg-1
    .col-lg-5
        table.table.tabela-navegacao
            tr
                td(colspan="2")
                    .labelbox
                        | Entidades:
            tr
                td(style="padding-left:50px !important")
                    a(href="/organizacoes/registo_entidade")
                        .linkbox(style="margin-bottom:0px")
                            | Identificação de Representantes
            tr
                td(style="padding-left:50px !important")
                    a(href="#")
                        .linkbox(style="margin-bottom:0px")
                            | Área de Trabalho
        
        table#noticias.table.tabela-navegacao
            tr 
                td
                    .labelbox(style="with:100%")
                        | Notícias:
            tr
                td
                    accordion(type="noticiabox")
                        panel(v-for="(not,index) in noticias" :header="not.title" :key="index")
                            small {{ not.date }}
                            div(v-html="not.body")
                            
            

append scripts
    script(src="/javascripts/index.vue")