.tabela {
    border-collapse: collapse;
    border: 3px solid #000;
}
.cabecalho-item {
    border: 2px solid #555;
}
.conteudo-item {
    border: 1px solid #aaa;
}

.table-move {
    transition: transform 1s;
}

.sorter {
    cursor: pointer; 
    cursor: hand;
}

.page-number {
    width: 30px;
    cursor: pointer; 
    cursor: hand;
}

.page-number.active {
    font-weight: bold;
}

.pages {
    text-align: center;
}



.cascata {
    margin-bottom: 0px;
}

.cascata-row {
    padding:0px !important; 
    padding-left:30px !important; 
    border:0px !important;
    width: 100%;
}

.cascata-row:hover {
    background: white !important;
}

.cascata-row-root {
    padding:0px !important; 
    border:0px !important
}

.cascata-table-within {
    width:100%;
    table-layout: fixed;
}

.cascata-drop {
    text-align: center;
    background-image: linear-gradient(to bottom,#7986CB 0,#3949AB 100%);
    border-right:1px solid #C5CAE9; 
    width: 30px  !important; 
    min-width: 30px  !important; 
    max-width: 30px;
    overflow: hidden;
    white-space: nowrap;
    color: #E8EAF6;
}

.cascata-plus {
    cursor: pointer;
    cursor: hand !important;
}

.cascata-plus:hover {
    background-image: linear-gradient(to top,#3F51B5 0,#283593 100%);
}

.cascata-drop-select {
    text-align: center;
    background-image: linear-gradient(to bottom,#7986CB 0,#3949AB 100%);
    border-right:1px solid #C5CAE9; 
    width: 50px  !important; 
    min-width: 50px  !important; 
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: #E8EAF6;
}

.cascata-drop-select:hover {
    background-image: linear-gradient(to top,#3F51B5 0,#283593 100%);
}

.cascata-codigo {
    background-color: #E8EAF6;
    overflow: hidden;
    white-space: nowrap;
    width: 108px !important;
    min-width: 108px !important;
    max-width: 108px;
    font-weight: bold;
    color: #1A237E;
    cursor: pointer;
    cursor: hand !important;
}

.cascata-texto {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    cursor: hand !important;
}

.ownercheck {
    width:56px;
    text-align: center;
    display:inline-block;
}

.partcheck {
    width:73px;
    text-align: center;
    display:inline-block;
}

.checks {
    width:141px;
    float: right;
}

.drop-row {
    position: absolute;
    left: -9999px;
}


.consulta tr{
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.consulta td{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    align-content: center;
}

.cria tr{
    vertical-align: top;
}


.cria td{
    padding-bottom: 5px;
    padding-top: 5px;
}

.smaller div{
    width: 500px !important;
}

.custom-select div{  
    border-color: #9FA8DA !important;
    height: 27px;
}

.custom-select i {
    padding-top: 5px;
}

.custom-select input {
    height: 27px !important;
}

.custom-select span {
    margin: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}


.is-collapsed li:nth-child(n+5) {
    display: none;
}

.table-hover tbody:hover > tr:hover {
    background-color: #e8eaf6 !important;
}

.partial-hover tbody:hover > tr:hover {
    background-color: none !important;
}

.partial-hover td:nth-of-type(3):hover{
    background-color: #e8eaf6 !important;
    cursor: pointer;
    cursor: hand !important;
}

.custom-table-cell {
    max-width: 0; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    cursor: pointer;
    cursor: hand !important;
}

.custom-table-cell-select {
    max-width: 0; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.custom-table-waterfall{
    max-width: 1000px;
}

.botao {
    box-sizing: border-box;
    font-style: normal;
    border: #000;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: #e4e4e4;
    color: #000 !important;
}

.botao:hover {
    border: none;
    margin:1px;
    background-color: #d1cfcf;
}

a:hover{
    text-decoration: none !important;
}


.footer {
    z-index: 10000 !important;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    background: rgb(226, 226, 226)
}

.footer td{
    padding: 8px;
    text-align: center;
}

.titlebox {
    color: #E8EAF6;
    background-image: linear-gradient(to bottom,#5C6BC0 0,#303F9F 100%);
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}

.linkbox {
    border-color: #7986cb;
    color: #1a237e;
    background-image: linear-gradient(to bottom,#e8eaf6 0,#c5cae9 100%);
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}

a .linkbox:hover {
    background-image: linear-gradient(to top,#c5cae9 0,#9fa8da 100%);
}

.labelbox {
    color: #E8EAF6;
    background: #304FFE;
    background-image: linear-gradient(to bottom,#304FFE 0,#283583 100%);
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}

.noticiabox {
    background: rgb(177, 189, 255);
    border: none;
    padding: 9px;
    margin: 2px;
}

.infobox {
    background: #c5cae9;
    color: #1a237e;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.textbox {
    border-style: solid;
    border-color: #1a237e;
    background-image: linear-gradient(to top,#8c9eff 0,#e8eaf6 100%);
    border-width: 1px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

.textbox a {
    color: #1a237e;
    text-decoration: underline;
}

.greybox {
    box-sizing: border-box;
    font-style: normal;
    border: #000;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: #f5f5f5;
    color: #000 !important;
}

.whitebox {
    border-style: solid;
    background-color: #E8EAF6;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.questionario {
    width:99%;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin:5px;
    table-layout: fixed;
}

.questionario tr {
    padding-right: 5px;
    padding-left: 5px;
    border-style: dashed;
    border-width: 1px;
}

.questionario td {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
}

.questionario .in {
    width: 98%;
    height: 24.5px;
}

.questionario span {
    padding-left: 5px;
}

.questionario span input {
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    font-weight: bold;
    padding:5px;
    border: solid;
    border-width: 1px;
    background: #90CAF9;
}

.button-darker {
    font-weight: bold;
    padding:5px;
    margin-left: 5px;
    border: solid;
    border-width: 1px;
    background: #0D47A1;
    border-radius: 20%;
}

.button-darker:hover {
    border-color: white;
}

.button a {
    color: beige !important;
}

.button-darker a {
    color: beige !important;
}

.info-classe .panel {
    margin-bottom: 10px;
}

.noborder {
    width: 100%;
}

.noborder tr {
    border: none;
}

.consulta td:nth-of-type(2) {
    vertical-align: middle;
    padding-left: 15px;
}

.tabela-navegacao td{
    padding:0px !important;
    vertical-align: middle;
    border:none !important;
}

.tabela-navegacao td:nth-of-type(1) div{
    text-align: left !important;
}

.tabela-navegacao{
    border: none !important;
}

.nav-canto td{
    padding-left: 7px;
    padding-right: 7px;
}


.next {
    border-radius: 50%;
}

li .panel-group{
    margin:0px;
}

li .panel-body{
    padding:0px;
}

li .panel-body li{
    margin-left:20px;
}

.panel-custom > .panel-heading{
    color: beige !important;
    background-color: #0D47A1 !important;
}

.blue-border-box{
    box-sizing: border-box;
    font-style: normal;
    border: rgb(51, 167, 221);
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    color: #000 !important;
}


.nav-top-custom-style{
    background-image: linear-gradient(to bottom,#3949AB 0,#1A237E 100%);
}

.open .dropdown-toggle{
    background-image: linear-gradient(to top,#3949AB 0,#1A237E 100%) !important;
}

.nav-top-custom-style li:hover{
    background-image: linear-gradient(to top,#3949AB 0,#1A237E 100%)
}

.nav-top-custom-style a{
    color: #E8EAF6 !important;
}

.panel-info-custom .panel-heading{
    background-image: linear-gradient(to top,#C5CAE9 0,#7986CB 100%);
}

.panel-info-custom{
    border-color: #7986CB;
}

.panel-info-custom .panel-title{
    font-weight: bolder !important;
}

.dropdown-menu a {
    color: #1A237E !important;
    font-weight: bold;
}

.dropdown-menu{
    border-top-width: 0px;
    width: inherit !important;
    background-image: linear-gradient(to top,#C5CAE9 0,#7986CB 100%);
}


.sidebar-nav-table .cascata-drop {
    text-align: center;
    background-image: linear-gradient(to bottom,#7986CB 0,#3949AB 100%);
    width: 19px  !important; 
    min-width: 19px  !important; 
    max-width: 19px;
    overflow: hidden;
    white-space: nowrap;
    color: #E8EAF6;
}

.sidebar-nav-table .cascata-plus:hover {
    background-image: linear-gradient(to top,#3F51B5 0,#283593 100%);
}

.sidebar-nav-table .cascata-row {
    padding-left:19px !important; 
}

.sidebar-nav-table .cascata-row:hover {
    background: #f5f5f5 !important; 
}

.sidebar-nav-table .cascata-codigo {
    background: none;
    overflow: hidden;
    width: 100% !important;
    white-space: nowrap;
    font-weight: bold;
    color: #1A237E;
}

.sidebar-nav-table .cascata-codigo:hover {
   background-color: #1A237E;
   color: #E8EAF6;
}

.sidebar-nav-table .cascata-active {
    background-image: linear-gradient(to bottom,#3949AB 0,#1A237E 100%);
    color: #E8EAF6;
 }

.sidebar-nav-table .form-control {
    height: 24px !important;
    max-height: 20px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-bottom: 15px;
 }


.form-error {
    border-color: red !important;
}

.panel-custom .panel-heading {
    background-image: linear-gradient(to top,#e8eaf6 0,#c7cefa 100%);
}

.panel-custom .accordion-toggle:hover {
    background-image: linear-gradient(to bottom,#e8eaf6 0,#8c9eff 100%);
}

.panel-custom .panel-default:hover {
    border-color: #8c9eff;
}

.panel-custom .page-header {
    border: none;
    margin: 0;
    color: #1A237E;
}

.panel-custom .panel-title {
    color: #1A237E;
    font-weight: bold;
}

.info-label {
    color: #1A237E;
    padding: 5px; 
    font-weight: 400;
    width: 100%;
    background-color: #dee2f8;
    font-weight: bold;
}

button {
    background-image: linear-gradient(to bottom,#e8eaf6 0,#afbbff 100%);
    font-weight: bold;
    text-decoration-color: #1A237E; 
}

button:hover {
    background-image: linear-gradient(to top,#e8eaf6 0,#afbbff 100%);
    border-color: white;
}