.tabela {
    border-collapse: collapse;
    border: 3px solid #000;
}
.cabecalho-item {
    border: 2px solid #555;
}
.conteudo-item {
    border: 1px solid #aaa;
}

.table-move {
    transition: transform 1s;
}

.sorter {
    cursor: pointer; 
    cursor: hand;
}

.page-number {
    width: 30px;
    cursor: pointer; 
    cursor: hand;
}

.page-number.active {
    font-weight: bold;
}

.pages {
    text-align: center;
}



.cascata {
    margin-bottom: 0px;
}

.cascata-row {
    padding:0px !important; 
    padding-left:30px !important; 
    border:0px !important
}

.cascata-row-root {
    padding:0px !important; 
    border:0px !important
}

.cascata-drop {
    border-right:1px solid #ddd; 
    margin-right: 5px;
    width: 5%;
}

.drop-row {
    position: absolute;
    left: -9999px;
}


.consulta tr{
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}


.consulta td{
    padding-bottom: 5px;
    padding-top: 10px;
}

.cria tr{
    vertical-align: top;
}


.cria td{
    padding-bottom: 5px;
    padding-top: 5px;
}

.smaller div{
    width: 500px !important;
}

.custom-select div{  
    border-color: rgb(122, 122, 122) !important;
    height: 27px;
}

.custom-select i {
    padding-top: 5px;
}

.custom-select input {
    height: 27px !important;
}

.custom-select span {
    margin: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}


.is-collapsed li:nth-child(n+5) {
    display: none;
}


.table-hover tbody:hover > tr:hover {
    background-color: rgba(201, 201, 201, 0.514) !important;
}


.botao {
    box-sizing: border-box;
    font-style: normal;
    border: #000;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: rgba(197, 197, 197, 0.747)
}

.botao a {
    color: #000 !important;
}

.footer {
    z-index: 10000 !important;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    background: rgb(226, 226, 226)
}

.titlebox {
    color: beige;
    background: rgb(0, 5, 71);
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}


.infobox {
    background: rgb(154, 195, 241);
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.textbox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.questionario {
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin:5px;
}

.questionario tr {
    padding-right: 5px;
    border-bottom-style: dashed;
    border-width: 1px;
}

.questionario td {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
}

.questionario .in {
    width: 100%;
}

.questionario span {
    padding-left: 5px;
}

.questionario span input {
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    font-weight: bold;
    padding:5px;
    border: solid;
    border-width: 1px;
    background: rgb(77, 154, 243)
}

.button a {
    color: beige !important;
}