.tabela {
    border-collapse: collapse;
    border: 3px solid #000;
}
.cabecalho-item {
    border: 2px solid #555;
}
.conteudo-item {
    border: 1px solid #aaa;
}

.table-move {
    transition: transform 1s;
}

.sorter {
    cursor: pointer; 
    cursor: hand;
}

.page-number {
    width: 30px;
    cursor: pointer; 
    cursor: hand;
}

.page-number.active {
    font-weight: bold;
}

.pages {
    text-align: center;
}



.cascata {
    margin-bottom: 0px;
}

.cascata-row {
    padding:0px !important; 
    padding-left:30px !important; 
    border:0px !important;
    width: 100%;
}

.cascata-row-root {
    padding:0px !important; 
    border:0px !important
}

.fixed {
    table-layout: fixed;
}

.cascata-drop {
    text-align: center;
    background-color: #90CAF9; 
    border-right:1px solid #ddd; 
    width: 100% !important;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.texto {
    white-space: nowrap;
    overflow: hidden;
}

.cascata-drop-select {
    text-align: center;
    background-color: #90CAF9; 
    border-right:1px solid #ddd; 
    width: 48px !important;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.codigo {
    background-color: #E3F2FD;
    white-space: nowrap;
}

.drop-row {
    position: absolute;
    left: -9999px;
}


.consulta tr{
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.consulta td{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    align-content: center;
}

.cria tr{
    vertical-align: top;
}


.cria td{
    padding-bottom: 5px;
    padding-top: 5px;
}

.smaller div{
    width: 500px !important;
}

.custom-select div{  
    border-color: rgb(122, 122, 122) !important;
    height: 27px;
}

.custom-select i {
    padding-top: 5px;
}

.custom-select input {
    height: 27px !important;
}

.custom-select span {
    margin: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}


.is-collapsed li:nth-child(n+5) {
    display: none;
}

.table-hover tbody:hover > tr:hover {
    background-color: #BBDEFB !important;
}

.custom-table-cell {
    max-width: 0; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    cursor: pointer;
    cursor: hand !important;
}


.botao {
    box-sizing: border-box;
    font-style: normal;
    border: #000;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: #f5f5f5;
    color: #000 !important;
}

.botao:hover {
    border: #555;
    text-decoration: none !important;
    outline: none;
}


.footer {
    z-index: 10000 !important;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    background: rgb(226, 226, 226)
}

.footer td{
    padding: 8px;
    text-align: center;
}

.titlebox {
    color: beige;
    background: #0D47A1;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}


.infobox {
    background: #90CAF9;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.textbox {
    border-style: solid;
    background-color: #E3F2FD;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.whitebox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}

.questionario {
    width:99%;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin:5px;
    table-layout: fixed;
}

.questionario tr {
    padding-right: 5px;
    padding-left: 5px;
    border-style: dashed;
    border-width: 1px;
}

.questionario td {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
}

.questionario .in {
    width: 98%;
    height: 24.5px;
}

.questionario span {
    padding-left: 5px;
}

.questionario span input {
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    font-weight: bold;
    padding:5px;
    border: solid;
    border-width: 1px;
    background: #90CAF9;
}

.button a {
    color: beige !important;
}

.info-classe .panel {
    margin-bottom: 10px;
}

.info-label {
    padding: 5px; 
    font-weight: 400;
    width: 100%;
    background-color: #E3F2FD;
    font-weight: bold;
}

.noborder {
    width: 100%;
}

.noborder tr {
    border: none;
}

.consulta td:nth-of-type(2) {
    vertical-align: middle;
    padding-left: 15px;
}

.tabela-navegacao td{
    vertical-align: middle;
    border:none !important;
}

.tabela-navegacao td:nth-of-type(1) div{
    text-align: left !important;
}

.tabela-navegacao{
    border: none !important;
}

.ownercheck {
    width:56px;
    text-align: center;
    display:inline-block;
}

.partcheck {
    width:108px;
    text-align: center;
    display:inline-block;
}


.checks {
    width:168px;
    float: right;
}


.next {
    border-radius: 50%;
}