extends ../layout
block corpo
    h1.page-header Entidades
    .row
        #tabela-entidades.row.placeholders
            tabela-entidades(
                v-if="ready"

                :header='["Sigla","Designação","Internacional"]'
                :display-order="['sigla','designacao','internacional']"
                :complete-rows="listaEntidades"
                :ready="ready"
                :cwidth="['15%','75%','10%']"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
            )
            h4(
                v-else
            ) A carregar...    
    //-

append scripts    
    script(src="/javascripts/entidades/listagem.vue")
    script(src="/javascripts/entidades/component-tabela-entidades.vue")