extends ../layout
block corpo
    h1.page-header Tipologias
    .row
        #tabela-tipologias.row.placeholders
            custom-table-simple(
                v-if="ready"

                :header='["Designação","Sigla"]'
                :display-order="['designacao','sigla']"
                :complete-rows="listaTipologias"
                :ready="ready"
                :cwidth="['75%','25%']"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
            )
            h4(
                v-else
            ) A carregar...    
    //-

append scripts    
    script(src="/javascripts/tipologias/listagem.vue")