extends ../layout
block corpo
    #profile.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header Utilizador
                a(href='../remover/'+utilizador.id style="float:right" margin-left: 80px)  
                    span.glyphicon.glyphicon-remove(data-toggle="tooltip" title="Remover utilizador")
                a(href='../desativar/'+utilizador.id style="float:right" margin-left: 80px)  
                    span.glyphicon.glyphicon-lock(style="padding-right:15px" data-toggle="tooltip" title="Desativar utilizador")
                a(href='../editar/'+utilizador.id style="float:right" margin-left: 80px)  
                    span.glyphicon.glyphicon-edit(style="padding-right:15px" data-toggle="tooltip" title="Editar nível utilizador")
        .panel-body
            .form-group
                table.consulta(width="100%")
                    //-NOME
                    tr
                        td
                            .info-label Nome: 
                        td(style="width:80%")
                            | #{utilizador.name}
                    //-EMAIL
                    tr
                        td
                            .info-label Email: 
                        td(style="width:80%")
                            | #{utilizador.email}
                    //-NIVEL
                    tr
                        td
                            .info-label Nível: 
                        td(style="width:80%")
                            case utilizador.level
                                when 7
                                    | Administrador de Perfil Tecnológico
                                when 6
                                    | Administrador de Perfil Funcional
                                when 5
                                    | Utilizador Validador
                                when 4
                                    | Utilizador Avançado
                                when 3
                                    | Utilizador Decisor
                                when 2
                                    | Utilizador Simples
                                when 1
                                    | Representante Entidade
                                when -1
                                    | Utilizador desativado
    #profile.panel.panel-default.panel-custom
        .panel-heading
            h2.page-header Pedidos do utilizador
        .panel-body
            #tabela-pedidos.panel.panel-default.panel-custom
                tabela-generica(
                    v-if="tabelaReady"

                    :header='["Codigo","Data de submissão","Estado","Ação","Objecto"]'
                    :display-order="['codigo','data','estado','acao','objeto']"
                    :complete-rows="listaPedidos"
                    :ready="tabelaReady"
                    :cwidth="['15%','15%','15%','10%', '10%']"

                    class-table='table table-hover'
                )
                h4(
                    v-else
                ) Este utilizador não possui pedidos registados.

append scripts    
    script(src="/javascripts/users/pedidos.vue")
    script(src="/javascripts/component-tabela-generica.vue")