extends ../layout
block corpo
    h1.page-header Utilizadores
    .row
        #tabela-users.row.placeholders
            tabela-generica(
                v-if="ready"

                :header='["Nome","Entidade", "Email","Nível de utilizador"]'
                :display-order="['name','entidade','email','level']"
                :complete-rows="listaUsers"
                :ready="ready"
                :cwidth="['30%','20%','20%','30%']"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
            )
            h4(
                v-else
            ) A carregar...    
    //-

append scripts    
    script(src="/javascripts/users/listagem.vue")
    script(src="/javascripts/component-tabela-generica.vue")