extends ../layout
block corpo
    h1.page-header Utilizadores
    .row
        #tabela-utilizadores.row.placeholders
            tabela-utilizadores(
                v-if="ready"

                :header='["Nome","Email","Nível de utilizador"]'
                :display-order="['name','email','level']"
                :complete-rows="listaUsers"
                :ready="ready"
                :cwidth="['50%','25%','25%']"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
            )
            h4(
                v-else
            ) A carregar...    
    //-

append scripts    
    script(src="/javascripts/users/listagem.vue")
    script(src="/javascripts/users/component-tabela-users.vue")