extends ../layout
block corpo
    #nova-legislacao-form.panel.panel-default
        .panel-heading
            h1.page-header Novo Documento  
        .panel-body
            .form-group
                table
                    tr(v-for="item in legData")
                        td(style="width:10%")
                            label {{item.label}}: 
                        td(style="width:80%")
                            input(
                                size="70"
                                v-model="item.value"
                            )
            input.btn.btn-xs.btn-default.col-sm-2(
                type="button" 
                @click="add" 
                value="Adicionar" 
                :disabled="!(\
                    legData.year.value &&\
                    legData.date.value &&\
                    legData.number.value &&\
                    legData.type.value &&\
                    legData.title.value &&\
                    legData.link.value\
                )"
            )
            p.col-sm-7 {{ message }}
    //-
    

append scripts    
    script(src="/javascripts/leg/adicao.vue")