extends ../layout
block corpo
    #legislacao-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header 
                div {{ myLegislacao.tipo }} {{ entidades }} {{ myLegislacao.numero }}
                    if user
                        a(:href="'/legislacao/editar/'+id" style="float:right")  
                            span.glyphicon.glyphicon-edit 
        .panel-body
            .form-group
                table(v-if="ready").consulta
                    //- Data
                    tr
                        td(style="width:12%")
                            .info-label Data:
                        
                        td(style="width:80%")
                            | {{ myLegislacao.data }}

                    //- Sumário
                    tr
                        td(style="width:12%")
                            .info-label Sumário:
                        
                        td(style="width:80%")
                            | {{ myLegislacao.sumario }}

                    //- Link
                    tr
                        td(style="width:12%")
                            .info-label Link:
                        
                        td(style="width:80%")
                            a(:href="myLegislacao.link" target="_blank") {{ myLegislacao.link }}

                    //- PROCESSOS
                    tr
                        td(style="width:10%")
                            .info-label Regula os Processos de Negócio:
                        td(style="width:80%")
                            ul(v-if="processesReady" style="padding-left:20px" :class="{'is-collapsed' : processesCollapsed }")
                                li(v-for="c in processes")
                                    a(:href="'/classes/c'+c.codigo") {{ c.codigo }}
                                    |  - {{ c.titulo }}
                            a(@click="processesCollapsed=!processesCollapsed" v-if="processes.length>6").maozinha
                                span(v-if="processesCollapsed") Mostrar mais...
                                span(v-else) Mostrar menos...
                        
                h3(v-else) A carregar...

            if user
                a(:href="'/legislacao/editar/'+id").btn.btn-xs.btn-default.col-sm-1
                    | Editar
    //-



append scripts
    script(src="/javascripts/leg/consulta.vue")