extends ../layout
block corpo
    h1.page-header Legislação
    .row
        #tabela-legislacoes.row.placeholders
            tabela-generica(
                v-if="ready"

                :header= '["Tipo", "Entidade(s)", "Número", "Sumário", "Data"]'
                :display-order="['tipo','entidades','numero','sumario','data']"
                :complete-rows="listaLegs"
                :ready="ready"
                :cwidth="['12%','10%', '10%', '54%', '14%']"
                
                class-table='table table-hover'
                add="true"

                @row-clicked="rowClicked($event)"
                @filt-clicked="filter($event)"

            )
            h4(
                v-else
            ) A carregar...
        
    //-
append scripts    
    script(src="/javascripts/leg/listagem.vue")
    script(src="/javascripts/component-tabela-generica.vue")