extends ../layout
block corpo
    h1.page-header Legislação
    .row
        #tabela-legislacoes.row.placeholders
            custom-table-simple(
                v-if="ready"

                :header= '["Tipo", "Entidade(s)", "Número", "Sumário", "Data"]'
                :display-order='["tipo","entidades","numero","sumario","data"]'
                :complete-rows="listaLegs"
                :ready="ready"
                :cwidth="['12%','10%', '10%', '54%', '14%']"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
                @add-clicked="addLeg"
            )
            h4(
                v-else
            ) A carregar...
        
    //-
append scripts    
    script(src="/javascripts/leg/listagem.vue")