.tabela {
    border-collapse: collapse;
    border: 3px solid #000;
}
.cabecalho-item {
    border: 2px solid #555;
}
.conteudo-item {
    border: 1px solid #aaa;
}

.table-move {
    transition: transform 1s;
}

.sorter {
    cursor: pointer; 
    cursor: hand;
}

.page-number {
    width: 30px;
    cursor: pointer; 
    cursor: hand;
}

.page-number.active {
    font-weight: bold;
}

.pages {
    text-align: center;
}



.cascata {
    margin-bottom: 0px;
}

.cascata-row {
    padding:0px !important; 
    padding-left:30px !important; 
    border:0px !important
}

.cascata-row-root {
    padding:0px !important; 
    border:0px !important
}

.cascata-drop {
    border-right:1px solid #ddd; 
    margin-right: 5px;
    width: 5%;
}

.drop-row {
    position: absolute;
    left: -9999px;
}


.consulta tr{
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}


.consulta td{
    padding-bottom: 5px;
    padding-top: 10px;
}

.cria tr{
    vertical-align: top;
}


.cria td{
    padding-bottom: 5px;
    padding-top: 5px;
}

.smaller div{
    width: 500px !important;
}

.custom-select div{  
    border-color: rgb(122, 122, 122) !important;
    height: 27px;
}

.custom-select i {
    padding-top: 5px;
}

.custom-select input {
    height: 27px !important;
}

.custom-select span {
    margin: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}


.is-collapsed li:nth-child(n+5) {
    display: none;
}


.table-hover tbody:hover > tr:hover {
    background-color: rgba(201, 201, 201, 0.514) !important;
}
