extends ../layout
block lateral
    #sidebar-tabela-classes
        custom-table-waterfall(
            v-if="ready"

            filter-on="true"
            sidebar="true"

            :complete-rows="tableData"
            :n-edits="nEdits"
            
            class='sidebar-nav-table'
            
            @row-clicked="rowClicked($event)"
        )
        h4(
            v-else
        ) A carregar...


block corpo
    #classe-form.panel.panel-default.panel-custom
        .panel-heading
            h3.page-header
                div {{ clas.codigo }} - {{ clas.titulo }} 
                    if user
                        a(:href="'/classes/editar/'+id" style="float:right")  
                            span.glyphicon.glyphicon-edit 
        .panel-body
            .form-group
                table.consulta(v-if="pageReady" style="border-color: white; border-style:solid; margin-bottom:20px")
                    
                    //- STATUS
                    tr
                        td(style="width: 10%")
                            .info-label Estado: 

                        td(style="width:80%" valign="center")
                            | {{ clas.status=="A" ? "Ativo" : (clas.status=="H" ? "Harmonização" : "Inativo") }} 


                    //- CLASSE PAI
                    tr(v-if="clas.Level>1")
                        td(style="width: 10%")
                            .info-label Classe Pai: 
                        td(style="width:80%")
                            a(:href="'/classes/consultar/'+clas.pai.id") {{ clas.pai.codigo }}
                            |  - {{ clas.pai.titulo }}

                    //- CLASSES DESCENDENTES
                    tr(v-if="clas.Level<4 && clas.filhos")
                        td(style="width: 10%")
                            .info-label Descendência: 
                        td(style="width:80%")
                            ul(style="padding-left:20px")
                                li(v-for="f in clas.filhos")
                                    a(:href="'/classes/consultar/c'+f.codigo")
                                        | {{ f.codigo }}
                                    |  - {{ f.titulo }}
                    
                    //- CÓDIGO
                    tr 
                        td(style="width: 10%")
                            .info-label Código: 
                        td(style="width:80%")
                            | {{ clas.codigo }}  

                    //- TÍTULO
                    tr
                        td(style="width: 10%")
                            .info-label Título: 
                        td(style="width:80%")
                            | {{ clas.titulo }} 

                accordion.info-classe
                    panel(header="Descritivo da Classe")
                        table.consulta(v-if="pageReady" style="border-color: white; border-style:solid")                

                            //- DESCRIÇÃO
                            tr
                                td(style="width: 10%")
                                    .info-label Descrição: 
                                td(style="width:80%")
                                    | {{ clas.desc }} 


                            //- NOTAS DE APLICAçÃO                        
                            tr
                                td(style="width: 10%")
                                    .info-label Nota(s) de Aplicação:
                                
                                td(style="width:80%")
                                    ul(style="padding-left:20px" v-if="notasApReady")
                                        li(v-for="nota in clas.notasAp")
                                            | {{nota.nota}}
                                
                            //- EXEMPLOS DE NOTAS DE APLICAçÃO                        
                            tr
                                td(style="width: 10%")
                                    .info-label Exemplo(s) de Nota(s) de Aplicação:
                                
                                td(style="width:80%")
                                    ul(style="padding-left:20px" v-if="exemplosNotasApReady")
                                        li(v-for="exemplo in clas.exemplosNotasAp")
                                            | {{exemplo.exemplo}}

                            //- NOTAS DE EXCLUSÃO                        
                            tr
                                td(style="width: 10%")
                                    .info-label Nota(s) de Exclusão:
                                
                                td(style="width:80%")
                                    ul(style="padding-left:20px" v-if="notasExReady")
                                        li(v-for="nota in clas.notasEx")
                                            span(v-html="nota.nota")


                            //- TERMOS DE ÍNDICE
                            tr(v-if="clas.Level>=3")
                                td(style="width: 10%")
                                    .info-label Termos de Índice:
                                
                                td(style="width:80%")
                                    ul(style="padding-left:20px")
                                        li(v-for="termo in clas.ti")
                                            | {{ termo.termo }}

                    panel(header="Contexto de Avaliação" v-if="clas.Level>=3")
                        table.consulta(v-if="pageReady" style="border-color: white; border-style:solid; width:100%")
                            //- TIPO/TRANSVERSAL
                            tr
                                td(colspan=2)
                                    table.noborder
                                        //- TIPO DE PROCESSO
                                        td(style="width: 50%")
                                            table
                                                td(style="width: 10%")
                                                    .info-label Tipo de Processo: 
                                              
                                                td(style="width:80%")
                                                    | {{ clas.procTipo }}  


                                        //- PROCESSO TRANSVERSAL
                                        td(style="width: 50%")
                                            table
                                                td(style="width: 10%")
                                                    .info-label Processo Transversal: 
                                                
                                                td(style="width:80%")
                                                    | {{ clas.procTrans=="S" ? "Sim" : "Não" }}  

                            //- DONOS
                            tr
                                td(style="width: 10%")
                                    .info-label Donos:

                                
                                td(style="width:80%")
                                    ul(v-if="donosReady" style="padding-left:20px")
                                        li(v-for="d in clas.donos")
                                            a(:href="d.tipo == 'TipologiaEntidade' ? '/tipologias/consultar/'+d.id : '/entidades/consultar/'+d.id") {{ d.sigla }}
                                            |  - {{ d.designacao }}
                                

                            //- PARTICIPANTES
                            tr(v-if="clas.procTrans=='S'")
                                td(style="width: 10%")
                                    .info-label Tipo de intervenção do(s) Participante(s):
                                    
                                td(style="width:80%")
                                    ul(v-if="participantesReady" style="padding-left:20px")
                                        li(v-for="key in Object.keys(clas.participacaoGroupBy)" v-if="clas.participacaoGroupBy[key].membros.length>0")
                                            b {{clas.participacaoGroupBy[key].label}}:
                                            ul
                                                li(v-for="entidade in clas.participacaoGroupBy[key].membros")
                                                    a(:href="entidade.id.startsWith('tip') ? '/tipologias/consultar/'+entidade.id : '/entidades/consultar/'+entidade.id") {{ entidade.sigla }}
                                                    |  - {{ entidade.designacao }}
                                
                            //- PROCESSOS RELACIONADOS
                            tr
                                td(style="width: 10%")
                                    .info-label Processo(s) Relacionado(s):
                                    
                                td(style="width:80%")
                                    ul(v-if="procRelReady" style="padding-left:20px")
                                        li(v-for="key in Object.keys(clas.procRelTipoGroupBy)" v-if="clas.procRelTipoGroupBy[key].membros.length>0")
                                            b  {{ clas.procRelTipoGroupBy[key].label }}
                                            ul
                                                li(v-for="p in clas.procRelTipoGroupBy[key].membros")
                                                    a(:href="'/classes/consultar/c'+p.codigo") {{ p.codigo }}
                                                    |  - {{ p.titulo }}
                                
                            //- LEGISLAÇÃO
                            tr
                                td(style="width: 10%")
                                    .info-label Legislação:
                                
                                td(style="width:80%")
                                    ul(v-if="legislacaoReady" style="padding-left:20px")
                                        li(v-for="l in clas.legislacao")
                                            | {{ l.tipo }} - 
                                            a(:href="'/legislacao/consultar/'+l.id") {{ l.numero }} 
                                            | - {{ l.sumario }}

                    panel(header="Decisões de Avaliação" v-if="(clas.Level==3)&&(clas.filhos.length>0)") Consultar as decisões de avaliação nas classes descendentes:
                        ul(style="padding-left:20px")
                                li(v-for="filho in clas.filhos")
                                    a(:href="'/classes/consultar/c'+filho.codigo")
                                        | {{ filho.codigo }}
                                    |  - {{ filho.titulo }}

                    panel(header="Decisões de Avaliação" v-else-if="clas.Level>=3")
                        table.consulta.noborder(v-if="pageReady" style="border-color: white; border-style:solid")

                            //- PRAZO DE CONSERVAÇÃO ADMINISTRATIVA
                            tr(v-if="pcaReady")
                                td
                                    .info-label(style="text-align:center")
                                        | Prazo de Conservação Administrativa
                            tr(v-if="pcaReady")
                                td
                                    table.noborder
                                        tr
                                            td(width="125px")
                                                .info-label Prazo:
                                            td(style="width:150px")
                                                | {{ clas.pca.valores.join(', ') }}
                                            

                                            td(style="padding-left:10px" width="170px")
                                                .info-label Forma de Contagem:
                                            td
                                                | {{ clas.pca.formaContagem }}
                                            
                                                    
                                        tr(v-if="clas.pca.formaContagem == 'Conforme disposição legal'")
                                            td
                                                .info-label Sub-forma de Contagem:
                                            td(colspan=5)
                                                | {{ clas.pca.subFormaContagem }}
                                            
                                        tr
                                            td
                                                .info-label Justificação:
                                            
                                            td(colspan=5)
                                                table(v-for="criterio in clas.pca.justificacao")
                                                    tr
                                                        td
                                                            b {{ criterio.tipoLabel }}
                                                    tr
                                                        td 
                                                            p(v-html="criterio.conteudo")
                                            
                            //- DESTINO FINAL
                            tr(v-if="dfReady")
                                td
                                    .info-label(style="text-align:center") 
                                        | Destino Final
                            tr(v-if="dfReady")
                                td
                                    table.noborder
                                        tr
                                            td(width="120px")
                                                .info-label Destino:
                                            td(colspan=4)
                                                | {{ clas.df.valor }} 
                                        tr
                                            td
                                                .info-label Justificação:
                                            td(colspan=5)
                                                table(v-for="criterio in clas.df.justificacao")
                                                    tr
                                                        td
                                                            b {{ criterio.tipoLabel }}
                                                    tr
                                                        td 
                                                            p(v-html="criterio.conteudo")

                    panel(header="Notas" v-if="clas.notas.length>0")
                                                             
            //- Buttons
            spinner(ref="spinner" size="lg" fixed text="Por favor aguarde...")

            if user
                a(:href="'/classes/editar/'+id").btn.btn-xs.btn-default.col-sm-1
                    | Editar

    //-

append scripts    
    script(src="/javascripts/classes/consulta.vue")
    script(src="/javascripts/classes/consulta-sidebar.vue")